@use "../util" as *;

body {
  @extend .dark-bg;
  font-size: 14px;
  font-family: $ff;
}

h1,
h2 {
  line-height: 1.1;
  font-weight: $semibold;
  margin-bottom: 0.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  @extend %reset-btn;
}

.logo {
  @include flex(row, 0);
  align-items: center;
  gap: 0.5rem;
  font-size: 24px;
  font-weight: $bold;

  i {
    @include fa-icon-solid($fa-var-message);
  }
}

.showcase,
main {
  text-align: center;
}

body {
  > * {
    padding: 2rem 1.5rem;
  }

  main {
    padding: auto 0;
  }

  footer {
    margin-top: 6rem;
  }
}

footer {
  background-color: red;
}

.main-container {
  display: grid;
  gap: 2rem 0;
  max-width: 800px;
  > * {
    padding: 1.5rem;
    border-radius: 8px;
    min-height: 26rem;
    position: relative;
    overflow: hidden;
    box-shadow: $card-box-shadow;

    &::before {
      @extend %absolute-overlay;
      background-color: var(--bg);
      z-index: -2;
    }

    &::after {
      @extend %absolute-overlay;
      background-color: var(--text);
      opacity: 0.1;
      z-index: -1;
    }
  }
}

main {
  padding: auto 0;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
}

main .col-wrapper {
  gap: 1.5rem 0;
}

@media (min-width: 600px) {
  .col-wrapper {
    flex-direction: row;
  }
}

.secondary-btn {
  font-size: inherit;
  font-weight: $semibold;
  @extend %secondary-btn;
}

.primary-btn {
  font-size: inherit;
  font-weight: $semibold;
  @extend %secondary-btn;
  border: 2px solid var(--clr-neutral);
  color: var(--clr-neutral);

  &:before {
    background: var(--clr-neutral);
  }
}

@media (min-width: 600px) {
  .showcase,
  main {
    text-align: initial;
  }
}
