@media (min-width: 600px) {
  .main-container {
    > * {
      align-items: center;
      min-height: initial;
      justify-content: space-around;
    }

    > :nth-child(3),
    > :nth-child(1) {
      flex-direction: row-reverse;
    }

    .col-wrapper {
      gap: 0 2rem;
    }

    picture {
      flex: 0 1 20rem;
    }

    article {
      flex: 0 1.4 26rem;
    }
  }
}
