@use "../util" as *;

.showcase {
  position: relative;

  .container {
    position: relative;
    min-height: 46rem;
  }

  .col-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .col-wrapper2 {
    @extend .center-vertical;
    display: flex;
    flex-direction: column;
    gap: 3rem 2rem;
  }

  article {
    > * {
      padding: 1rem 0;
    }
  }

  &::before {
    @extend %absolute-overlay;
    background-color: var(--bg);
    z-index: -2;
  }

  &::after {
    @extend %absolute-overlay;
    background-color: var(--text);
    opacity: 0.1;
    z-index: -1;
  }

  .secondary-btn {
    font-size: 12px;
    margin: initial;
    color: var(--clr-primary);

    &:hover {
      color: var(--bg);
    }
  }

  .primary-btn {
    padding: 0;
    width: 210px;
    color: var(--clr-neutral);

    &:hover {
      color: var(--bg);
    }

    &:before {
      height: 150px;
      width: 300px;
    }
  }
}

@media (min-width: 600px) {
  .showcase .col-wrapper2 {
    flex-direction: row;
    align-items: center;

    .primary-btn {
      margin: 0;
    }

    > picture {
      flex: 0 1.5 38rem;
    }

    article {
      flex: 0 1 28rem;
    }
  }

  .showcase .container {
    min-height: 34rem;
  }
}
