@use "../util/config" as *;

.border {
  border: 2px solid red;
  > * {
    border: 2px solid green;
  }
}

.container {
  margin-inline: auto;
  max-width: $big-container;
}

.small-container {
  max-width: $smallContainer;
  margin-inline: auto;
}

.border-box {
  padding: 1rem;
  border: 2px solid var(--text);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-vh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%reset-btn {
  background: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  border: none;
}

.hide-scrollbar {
  overflow-y: hidden;
}

@media (min-width: 500px) {
  .hide-scrollbar {
    padding-right: 8px;
  }
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

/* Style the scrollbar track when scrollbar is in "dragging" state */
::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

%primary-btn {
  overflow: hidden;
  display: inline-block;
  font-weight: bold;
  border: 3px solid var(--clr-primary);
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--text);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;

  &:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--clr-primary);
    z-index: -1;
  }

  &:hover,
  &:focus {
    color: var(--bg);
  }

  &:hover:before,
  &:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }

  &:active {
    transform: scale(0.9);
  }
}

%secondary-btn {
  overflow: hidden;
  display: inline-block;
  font-weight: bold;
  border: 3px solid var(--clr-neutral);
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--text);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;

  &:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--clr-neutral);
    z-index: -1;
  }

  &:hover,
  &:focus {
    color: var(--bg);
  }

  &:hover:before,
  &:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }

  &:active {
    transform: scale(0.9);
  }
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

%absolute-overlay {
  content: "";
  position: absolute;
  inset: 0;
}

%secondary-btn {
  --color: var(--clr-primary);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }

  &:hover {
    color: var(--bg);
  }

  &:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }

  &:hover:before {
    top: -30px;
    left: -30px;
  }

  button:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
}

.loading {
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 100000;
  inset: 0;
  $clr: var(--bg);
  backdrop-filter: blur(4px);

  .loading-wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;

    .circle {
      width: 20px;
      height: 20px;
      position: absolute;
      border-radius: 50%;
      background-color: var(--text);
      left: 15%;
      transform-origin: 50%;
      animation: circle7124 0.5s alternate infinite ease;
    }

    @keyframes circle7124 {
      0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
      }

      40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
      }

      100% {
        top: 0%;
      }
    }

    .circle:nth-child(2) {
      left: 45%;
      animation-delay: 0.2s;
    }

    .circle:nth-child(3) {
      left: auto;
      right: 15%;
      animation-delay: 0.3s;
    }

    .shadow {
      width: 20px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--text);
      position: absolute;
      top: 62px;
      transform-origin: 50%;
      z-index: -1;
      left: 15%;
      filter: blur(1px);
      animation: shadow046 0.5s alternate infinite ease;
    }

    @keyframes shadow046 {
      0% {
        transform: scaleX(1.5);
      }

      40% {
        transform: scaleX(1);
        opacity: 0.7;
      }

      100% {
        transform: scaleX(0.2);
        opacity: 0.4;
      }
    }

    .shadow:nth-child(4) {
      left: 45%;
      animation-delay: 0.2s;
    }

    .shadow:nth-child(5) {
      left: auto;
      right: 15%;
      animation-delay: 0.3s;
    }
  }
}
