.footer-links {
  a {
    transition: color 0.6s;
  }
  a:hover {
    color: var(--clr-neutral);
  }
}

.footer-brands {
  a {
    transition: color 0.6s;
  }
  a:hover {
    color: var(--clr-primary);
  }
}
