.animate {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 1s, filter 1s;
}

body {
  overflow-x: hidden;
}

.animated {
  filter: blur(0);
}

.showcase.animated {
  animation: fadeIn 800ms;
}

.primary-btn.animated {
  animation: zoomIn 800ms;
}

.secondary-btn.animated {
  animation: zoomIn 800ms;
}

.showcase picture .animated {
  animation: fadeIn 800ms;
}

.showcase article .animated {
  animation: fadeIn 800ms;
}

@media (min-width: 600px) {
  .primary-btn.animated {
    animation: zoomIn 800ms;
  }

  .secondary-btn.animated {
    animation: zoomIn 800ms;
  }

  .showcase picture .animated {
    animation: fadeInRight 800ms;
  }

  .showcase article .animated {
    animation: fadeInLeft 800ms;
  }
}

.main-container {
  > :nth-child(1).animated,
  > :nth-child(2).animated,
  > :nth-child(3).animated {
    animation: fadeIn 1s;
  }

  > :nth-child(1).animated {
    animation-delay: 800ms;
  }

  > :nth-child(2).animated {
    animation-delay: 200ms;
  }

  > :nth-child(3).animated {
    animation-delay: 300ms;
  }
}

@media (min-width: 600px) {
  .main-container {
    > :nth-child(1).animated,
    > :nth-child(2).animated,
    > :nth-child(3).animated {
      animation: fadeInLeft 1s;
    }

    > :nth-child(1).animated {
      animation-delay: 100ms;
    }

    > :nth-child(2).animated {
      animation-delay: 200ms;
    }

    > :nth-child(3).animated {
      animation-delay: 300ms;
    }
  }
}

.footer-col1.animated {
  animation: fadeIn 1s;
}

.footer-brands {
  > * .animated {
    animation: fadeIn 1s;
  }

  > :nth-child(1) .animated {
    animation-delay: 100ms;
  }
  > :nth-child(2) .animated {
    animation-delay: 200ms;
  }
  > :nth-child(3) .animated {
    animation-delay: 300ms;
  }
}

@media (min-width: 600px) {
  .footer-brands {
    > * .animated {
      animation: fadeInRight 1s;
    }

    > :nth-child(1) .animated {
      animation-delay: 100ms;
    }
    > :nth-child(2) .animated {
      animation-delay: 200ms;
    }
    > :nth-child(3) .animated {
      animation-delay: 300ms;
    }
  }

  .footer-col1.animated {
    animation: fadeInLeft 1s;
  }
}

/*
footer.animated {
  animation: fadeIn 500ms;
}
*/

.footer-links {
  .animated {
    animation: fadeIn 1s;
  }

  > :nth-child(1) .animated {
    animation-delay: 100;
  }
  > :nth-child(2) .animated {
    animation-delay: 200;
  }
  > :nth-child(3) .animated {
    animation-delay: 300;
  }
  > :nth-child(4) .animated {
    animation-delay: 400;
  }
  > :nth-child(5) .animated {
    animation-delay: 500;
  }
  > :nth-child(6) .animated {
    animation-delay: 600;
  }
}

.absolute.animated {
  animation: zoomIn 1s;
}

@media (min-width: 600px) {
  .footer-links {
    .animated {
      animation: zoomIn 1s;
    }
  }
}
